<div class="container">
  <div class="col-md-6">
    <%= bootstrap_form_for(@bet, url: match_bets_path(@bet, match_id: params[:match_id]), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
      <div class="match-name">
        <span><%= @bet.match %></span>
      </div>
      <% if @bet.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:
          </h2>
          <ul>
          <% @bet.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="fields">
        <div class="bet_country" ><%= @match.country_a.name %></div>
        <%= f.number_field :score_a, :placeholder => Bet.human_attribute_name('score_a'), :required => "required", :class => "input-txt" %>
        <sapn>vs</sapn>
        <%= f.number_field :score_b, :placeholder => Bet.human_attribute_name('score_b'), :required => "required", :class => "input-txt" %>
        <div class="bet_country" ><%= @match.country_b.name %></div>
      </div>
      <div class="actions">
        <%= f.submit t('.new') %>
      </div>
    <% end %>
  </div>
</div>