<div class="jumbotron">
    <h1><%= t '.new' %></h1>
    <%= render 'form' %>
    
    <%= link_to t('.back_to_all'), all_bets_path %>
    <%= link_to t('.back_to_my'), my_bets_path %>
    <%= link_to t('.back_to_matches'), matches_path %>
</div>