<div class="jumbotron">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert"><%= alert %></p>
    <% end %>
    <%= link_to 'javascript:history.back()' do %>
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    <% end %>
    <div class="bet container">
        <div class="row">
          <div class="col-md-5">
            <div class="bet_country">
              <h2><%= @match.country_a.name %></h2>
              <%= image_tag 'flags/'+@match.country_a.code+'.png', class: 'img-responsive' %>
              <div class="bet_pscore"><%= @bet.score_a %></div>
            </div>
          </div>
          <div class="col-md-2">
            <span class="center-height-vs">vs</span>
          </div>
          <div class="col-md-5">
            <div class="bet_country">
              <h2><%= @match.country_b.name %></h2>
              <%= image_tag 'flags/'+@match.country_b.code+'.png', class: 'img-responsive' %>
              <div class="bet_pscore"><%= @bet.score_b %></div>
            </div>
          </div>
        </div>
    </div>
    <% if @match.are_bets_active %>
      <%= link_to t('.edit'), edit_match_bet_path(id: @bet, match_id: @match) %>
    <% end %>
</div>