<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p id="notice"><%= notice %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1><%= t '.listing_matches' %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="table" class="table table-hover table-mc-light-blue">
          <thead>
            <tr>
              <th>Czas rozpoczęcia</th>
              <th>Kraj A</th>
              <th>Wynik A</th>
              <th>:</th>
              <th>Wynik B</th>
              <th>Kraj B</th>
              <th>Szczegóły meczu</th>
              <th>Obstaw mecz</th>
              <% if current_user_is_admin %>
                <th>Edytuj mecz</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @matches.each do |match| %>
              <tr>
                <td data-title="Czas rozpoczęcia"><%= match.start_time.to_s(:short) %></td>
                <td data-title="Kraj A">
                  <%= match.country_a.name %>
                  <%= image_tag 'flags/'+match.country_a.code+'.png', class: 'img-responsive' %>
                </td>
                <td data-title="Wynik A"><%= match.score_a == nil ? '~' : match.score_a %></td>
                <td data-title=":"> : </td>
                <td data-title="Wynik B"><%= match.score_b == nil ? '~' : match.score_b %> </td>
                <td data-title="Kraj B">
                  <%= match.country_b.name %>
                  <%= image_tag 'flags/'+match.country_b.code+'.png', class: 'img-responsive' %>
                </td>
                <td data-title="Szczegóły meczu">
                  <%= link_to match do %><i class="fa fa-info-circle" aria-hidden="true"></i><% end %>
                </td>
                <% if match.are_bets_active %>
                  <td data-title="Obstaw mecz">
                    <%= link_to new_match_bet_path(match_id: match.id) do %>
                    <%= image_tag 'bet_now_btn.png', class: 'img-responsive' %>
                    <% end %>
                  </td>
                <% else %>
                  <td></td>
                <% end %>
                <% if current_user_is_admin %>
                  <td data-title="Edytuj mecz"><%= link_to t('.edit'), edit_match_path(match) %></td> 
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>