<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p id="notice"><%= notice %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1><%= t '.listing_matches' %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="table" class="table table-hover table-inverse">
          <thead>
            <tr>
              <th><%= t '.start_time' %></th>
              <th><%= Country.model_name.human %></th>
              <th><%= t '.score' %></th>
              <th>:</th>
              <th><%= t '.score' %></th>
              <th><%= Country.model_name.human %></th>
              <th><%= t '.details' %></th>
              <th><%= t '.make_bet' %></th>
              <% if current_user_is_admin %>
                <th><%= t '.edit' %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @matches.each do |match| %>
              <tr class="<%= match.are_bets_active ? print('bets_active') : print('bets_disabled') %>">
                <td data-title="<%= t '.start_time' %>"><%= match.start_time.to_s(:short) %></td>
                <td data-title="<%= Country.model_name.human %>" class="countries">
                  <%= match.country_a.name %>
                  <%= image_tag 'flags/'+match.country_a.code+'.png', class: 'img-responsive' %>
                </td>
                <td data-title="<%= t '.score' %>" class="score"><%= match.score_a == nil ? '~' : match.score_a %></td>
                <td data-title=":" class="score"> : </td>
                <td data-title="<%= t '.score' %>" class="score"><%= match.score_b == nil ? '~' : match.score_b %> </td>
                <td data-title="<%= Country.model_name.human %>" class="countries">
                  <%= match.country_b.name %>
                  <%= image_tag 'flags/'+match.country_b.code+'.png', class: 'img-responsive' %>
                </td>
                <td data-title="<%= t '.details' %>">
                  <%= link_to match, class: 'info-link'  do %><i class="fa fa-info-circle" aria-hidden="true"></i><% end %>
                </td>
                <td data-title="<%= t '.make_bet' %>">
                <% if match.are_bets_active %>
                    <% if (betR = Bet.where(match: match, user: current_user)).empty? %>
                      <%= link_to new_match_bet_path(match_id: match.id) do %>
                        <%= image_tag 'bet_now_btn.png', class: 'img-responsive' %>
                      <% end %>
                    <% else %>
                      <%= link_to edit_match_bet_path(id: betR.first, match_id: match.id) do %>
                        <%= image_tag 'betted_btn.png', class: 'img-responsive' %>
                      <% end %>
                    <% end %>
                <% else %>
                  <%= image_tag 'bet_disabled_btn.png', class: 'img-responsive' %>
                <% end %>
                  </td>
                <% if current_user_is_admin %>
                  <td data-title="<%= t '.edit' %>"><%= link_to t('.edit'), edit_match_path(match) %></td> 
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>