<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="center-height center-text">Copyright &copy; <%= Time.now.year %> - <%= t('.copyright') %></p>
            </div>
            <div class="col-md-4">
                <p class="center-text"><%= t('.version') %> Beta 0.0.7 <br><span>Dev Demo Preview</span></p>
            </div>
            <div class="col-md-4">
                <p class="center-text">
                    <%= t('.author') %> <%= link_to 'Lucas Levvy', 'https://player.me/levvy', target: "_blank" %>
                </p>
            </div>
        </div>
    </div>
</footer>