  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <p><%= t '.header_text' %></p>
          </div>
          <div class="col-md-7">
              <nav class="navbar pull-right" role="navigation">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#inventory">
                      <span class="sr-only"><%= t '.expand' %></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
                  <div class="collapse navbar-collapse" id="inventory">
                    <ul class="nav navbar-nav">
                      <li <%= 'class=active' if current_page?(controller: 'matches', action: 'index') %>><%= link_to t('.matches'), 'matches#index' %> </li>
                      <li <%= 'class=active' if current_page?(controller: 'bets', action: 'index') %>><%= link_to t('.all_bets'), all_bets_path %> </li>
                      <% if current_user %>
                        <li <%= 'class=active' if current_page?(controller: 'bets', action: 'my_bets') %>><%= link_to t('.my_bets'), my_bets_path %> </li>
                      <% end %>
                      <li class="login">
                        <% if !current_user %>
                            <%= link_to t('.login'), login_page_path %>
                        <% else %>
                            <%= link_to t('.logout'), logout_path, method: 'delete' %>
                        <% end %>
                      </li>
                      <li class="dropdown">
                        <%= button_tag "#", {class: "btn btn-dropdown dropdown-toggle select_lang", 'data-toggle': "dropdown"} do %>
                            <%= I18n.locale %> 
                        <% end %>
                        <ul class="dropdown-menu select_lang_list">
                          <% @locales.each do |l| %>
                            <li>
                              <% if I18n.locale.to_s == l.to_s %>
                                  <%= link_to '#', {class: 'btn btn-primary lang active'} do l.to_s end %>
                                <% else %>
                                  <%= link_to params.merge({:locale => l.to_s}), {class: 'btn btn-primary lang'} do l.to_s end %>
                                <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </li>
                    </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div>
